<!DOCTYPE html>
<html lang="en" ng-app="AccountBook">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<base href="/" />

<title>Account Book</title>

<!-- Bootstrap core CSS -->
<link href="lib/css/bootstrap.css" rel="stylesheet">

<!-- Handsontable CSS -->
<link href="lib/css/jquery.handsontable.full.css" rel="stylesheet">
<link href="lib/css/jquery-ui.custom.css" rel="stylesheet">
<link href="lib/css/wcAngularOverlay.css" rel="stylesheet">
<link href="lib/css/toastr.css" rel="stylesheet">
<link href="lib/css/images/*.png" rel="stylesheet">

<!-- Add custom CSS here -->
<link href="css/app.css" rel="stylesheet">

</head>

<body>

<div data-wc-overlay="" data-wc-overlay-delay="100">
    <br /><img src="img/spinner.gif" />&nbsp;&nbsp;Loading
</div>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container" ng-controller="MenuCtrl">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ng-click="input()" href="">Start Bootstrap</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a ng-click="input()" href="">Input</a></li>
				<li><a ng-click="statistics()" href="">Statistics</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container -->
</nav>

<div class="container">
	<div class="mainpart">
		<div ng-view class="mainview" />
	</div>
</div><!-- /.container -->

<div class="container">

	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p></p>
			</div>
		</div>
	</footer>

</div><!-- /.container -->


<!-- JavaScript -->
<script src="lib/js/jquery-1.10.2.min.js"></script>
<script src="lib/js/jquery.handsontable.full.js"></script>
<script src="lib/js/angular.min.js"></script>
<script src="lib/js/angular-animate.min.js"></script>
<script src="lib/js/angular-resource.min.js"></script>
<script src="lib/js/angular-route.min.js"></script>
<script src="lib/js/bootstrap.js"></script>
<script src="lib/js/numeral.min.js"></script>
<script src="lib/js/languages.min.js"></script>
<script src="lib/js/ja.min.js"></script>
<script src="lib/js/jquery.ui.core.min.js"></script>
<script src="lib/js/jquery.ui.datepicker.min.js"></script>
<script src="lib/js/jquery.ui.datepicker-ja.min.js"></script>
<script src="lib/js/wcAngularOverlay.js"></script>
<script src="lib/js/toastr.js"></script>
<script src="js/app.js"></script>
<script src="js/input.js"></script>
<script src="js/statistics.js"></script>
</body>
</html>
